@model Web.Models.Unidades

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center"> @Html.DisplayFor(model => model.NomeUE)</h1>

<div>
    <hr />
    <div class="card">
        <div class="card-header text-center">Números de Registros</div>
        <div class="card-body row">

            <div class="col-md">
                @Html.DisplayNameFor(model => model.NProtocolo)
                @Html.DisplayFor(model => model.NProtocolo)

                @Html.DisplayNameFor(model => model.INEP)
                @Html.DisplayFor(model => model.INEP)

                @Html.DisplayNameFor(model => model.CNPJ)
                @Html.DisplayFor(model => model.CNPJ)
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header text-center">Endereço</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.URG)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.URG)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CEP)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CEP)
                </dd>
            </dl>
        </div>
    </div>

    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UETel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UETel)
        </dd>

        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Equipamentos)
        </dt>

        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Equipamento</th>
                </tr>
                @foreach (var item in Model.Equipamentos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipDescricao)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.EquipNuSerie)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div class="btn btn-group">
    <a asp-action="Edit" asp-route-id="@Model.IdUE" class="btn btn-outline-secondary">Editar</a>
    <a asp-action="Delete" asp-route-id="@Model.IdUE" class="btn btn-outline-danger">Excluir</a>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar a Lista</a>
</div>
