@model IEnumerable<Web.Models.Unidades>

@{
    ViewData["Title"] = "Listagem de Unidades";
}

<!-- Titulo da pagina centralizado-->
<h1 class="text-center">Listagem de Unidades</h1>

<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URG)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NomeUE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.URG)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.IdUE">
                        @Html.DisplayFor(modelItem => item.NomeUE)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>

                <td></td>
            </tr>
        }
    </tbody>
</table>

<p class="float-right btn-group">
    <a asp-action="Create" class="btn btn-success">Nova Unidade</a>
    <!-- teste do bootbox     <a class="btn btn-primary" id="Teste">Teste</a>   -->
</p>

@section Scripts
{

    <script>

        /* Script do datatables
         * para o funcionamento do DataTables, invoca o ID da tabela myTable
         * URL da tradução
         */
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });

        /*Criação das models
         1 - Download do arquivo bootbox.js para a pasta js no wwwroot
         2 - Criação do link do script em _Layout.cshtml
         3 - Dar um id ao btn de criação e class para os btns na tabela
         */
        $(document).on('click', '#Teste', function () {
            bootbox.dialog({
                title: 'Cadastrar nova unidade',
                message: 'Olá mundo'
            })
        });

    </script>
}