@model IEnumerable<ControleAtivosTI.Models.Portifolio>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Portfolio de Serviços e Sistemas da TI</h1>

<p>
    <a asp-action="Create">Adicionar novo item</a>
</p>

<!--

    Implementação futura:
    As cores das bordas dos cards devem ser customizadas comforme a criaticidade do serviço:
    Baixo - Verde
    Medio - Amarelo
    Alto - vermelho

-->
<!--Transferir para o arquivo de CSS-->


<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="col-3 my-3">
            <div class="card border-primary" draggable="true" ondragstart="drag(event)">
                <!-- Adição de imagem
                     <img class="card-img-top" src="https://miro.medium.com/max/1400/1*5QdT3tR-u0z3Zk8dt_72lg.jpeg" />
                -->

                <div class="card-header text-center">
                    <!--Atribuir função de link para a página de detalhes-->
                    <a asp-action="Details" asp-route-id="@item.IdPortefolio">
                        @Html.DisplayFor(modelItem => item.NomeSistema)
                    </a>
                </div>

                <div class="card-body text-justify"> @Html.DisplayFor(modelItem => item.Descricao) </div>
                <div class="card-footer"> @Html.DisplayFor(modelItem => item.Acesso)</div>
            </div>

        </div>
    }

</div>

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSistema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePlataforma)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Acesso)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoDesenvolvimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criticidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSistema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePlataforma)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Acesso)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EstadoDesenvolvimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Criticidade)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.IdPortefolio" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.IdPortefolio" class="btn btn-outline-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.IdPortefolio" class="btn btn-outline-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>-->
