@model Web.Models.Equipamentos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipNuSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipNuSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipNuControle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipNuControle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUE)
        </dt>
        <dd class="col-sm-10">
            <!--Combo box com as unidades escolares-->
            <div class="form-group">
                <label asp-for="IdUE" class="control-label"></label>
                <select id="equipamentos" asp-for="IdUE" class="form-control" asp-items="ViewBag.IdUE" disabled>
                    <option value=""> -- Selação Unidade --</option>
                </select>
                <span asp-validation-for="IdUE" class="text-danger" />
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEquipamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
