@model IEnumerable<Web.Models.Equipamentos>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Listagem de Equipamentos</h1>

<p class="float-left">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i>Novo Equipamento</a>
</p>

<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipNuSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipNuControle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EquipOrigem)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipNuSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipNuControle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EquipOrigem)
            </td>

            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.IdEquipamento" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.IdEquipamento" class="btn btn-outline-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEquipamento" class="btn btn-outline-danger">Delete</a>
                </div>
            </td>

        </tr>
        }
    </tbody>
</table>
<br/>


@section Scripts
{
    <!-- script para o funcionamento do DataTables, invoca o ID da tabela myTable
        URL da tradução
        -->

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}

